:root {
    --darkBackground: #222831;
    --lightFont: #393e46;
    --darkFont: #f96d00;
    --lightBackground: #f2f2f2;
    --fontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

*{ 
    font-family: var(--fontFamily);
}

#submitButton{
    width: 5rem;
    height: 3rem;
    background-color: aliceblue;
}

.modal-card-title {
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.gif {
width: 50%;
}

#mainBody {
    display: flex;
    justify-content: space-around;
}

.footer{
    background-color: var(--lightFont);
    
}

.footer p a{
    color:var(--darkFont);
}
/* TODO LIST For Theme */

/* Theme Switcher styles */
/* Dark Styles Start */
.dark header{
    
    background-color: var(--lightFont);
    color: var(--darkFont);
}

.dark footer{

    background-color: var(--lightFont);
    
}

.dark footer a{

    color: var(--darkFont);

}

.dark #mainBody {

    background-color: var(--darkBackground);
    color: var(--darkFont);

}

/* Dark Styles End */

/* Light Styles Start */

.light header{

    background-color: var(--darkFont);
    color: var(--lightFont);
}

.light footer {

    background-color: var(--darkFont);
}
.light footer a{

    color: var(--lightFont);
}

.ligh #mainBody {

    background-color: var(--lightBackground);
    color: var(--lightFont)
}
