:root {
    --darkBackground: #222831;
    --lightFont: #393e46;
    --darkFont: #f96d00;
    --lightBackground: #f2f2f2;
    --fontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

*{ 
    font-family: var(--fontFamily);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#submitButton{
    width: 5rem;
    height: 3rem;
    background-color: aliceblue;
}
.divGiggles{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-card-title {
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}
#gigglesContainer{
    text-align: center;
    padding-right: 2rem;
}

#gifDiv{
    text-align: center;
    padding-left: 1em;
}

#gifContainer{
    display: flex;
    justify-content: center;

}
#mainBody {

    display: flex;
    justify-content: space-around;
    height: 100vh;

}

footer {
    position: relative;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}

/* TODO LIST For Theme */

/* Theme Switcher styles */
/* Dark Styles Start */
.dark header{
    
    background-color: var(--lightFont);
    color: var(--darkFont);
}

.dark footer{

    background-color: var(--lightFont);
    
}

.dark footer a{

    color: var(--darkFont);

}

.dark #mainBody {

    background-color: var(--darkBackground);
    color: var(--darkFont);

}

/* Dark Styles End */

/* Light Styles Start */

.light header{

    background-color: var(--darkFont);
    color: var(--lightFont);
}

.light footer {

    background-color: var(--darkFont);
}
.light footer a{

    color: var(--lightFont);
}

.light #mainBody {

    background-color: var(--lightBackground);
    color: var(--lightFont)
}
